.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: none;
	border-radius: 4px;
	background: $danger;
	color: white;
	cursor: pointer;
	margin-right: 1rem;
	text-decoration: none;
	display: inline-block;
}

.button-fullWidth {
	width: 100%;
}

.button:focus {
	outline: none;
}

.button:hover,
.button:active {
	background: #ff4382;
	border-color: #ff4382;
}

.button--inverse {
	background: $primary;
	color: $gray-100;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background: $success;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: $gray-200;
	color: $gray-500;
	border-color: $gray-200;
	cursor: not-allowed;
}
