/*==================
      General
===================*/

body {
	// background-repeat: repeat;
	background: $bg-body;
	font-family: $font-family;
	color: #0f0f0f;
	font-size: $base-font;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: $font-family-secondary;
	font-weight: 600;
}

p {
	line-height: 1.7;
}

svg {
	max-width: 100%;
}

a {
	color: $gray-600;

	&:hover {
		outline: 0;
		text-decoration: none;
	}
	&:active {
		outline: 0;
		text-decoration: none;
	}
	&:focus {
		outline: 0;
		text-decoration: none;
	}
}

b,
strong {
	font-weight: 500;
}

main {
	margin-top: 10rem;
}

#root {
	height: 100%;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	svg {
		width: 150px;
		height: 150px;
		margin: 20px;
		display: inline-block;
	}
}

.text-center {
	text-align: center;
}

.w-100 {
	width: 100%;
}

.app {
	display: flex;
}
