.form-input {
	margin: 1.5rem 0;
	label {
		margin-bottom: 0.5rem;
	}
}

.form-input label,
.form-input input,
.form-input textarea {
	box-sizing: border-box;
	display: block;
}

.form-input input,
.form-input textarea {
	width: 100%;
	height: 40px;
	font: inherit;
	font-weight: 600;
	border: 1px solid #ccc;
	background: #f8f8f8;
	padding-left: 15px;
}

.form-input input:focus,
.form-input textarea:focus {
	outline: none;
	background: $gray-200;
	border-bottom: solid 2px $primary;
}

.form-input--invalid {
	label,
	p {
		color: $danger;
		margin: 0;
	}
}

.form-input--invalid input,
.form-input--invalid textarea {
	border-bottom: solid 2px $danger;
}
